@media screen and (max-width: 360px) {

	p {
		line-height: 19px;
		font-size: 14px;
	}

	.not-show {
		display: none;
	}

	.container {
		padding: 0 20px;
	}

	.phone,
	.header-telegram {
		display: none;
	}

	.header-wrapper {
		justify-content: space-between;
	}

	.hamburger {
		display: block;
	}

	.navigation {
		position: absolute;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		width: 320px;
		height: 627px;
		padding: 20px;
		left: 0px;
		top: 80px;
		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(12.5px);
		font-weight: 700;
		z-index: 10;
	}

	.nav-link {
		margin-bottom: 10px;
	}

	.nav-link:first-child {
		position: relative;
		left: -5px;
		margin-bottom: 300px;

	}

	.courses-list-toggle {
		font-weight: 700;
	}

	.arrow {
		transform: rotate(180deg);
		top: 14px;
	}

	.courses-list {
		display: block;
		background-color: rgba(0, 0, 0, 0);
		box-shadow: none;
		left: 20px;
		font-weight: 500;
	}

	.courses-item:not(first-child) {
		margin-top: 20px;
	}

	.show {
		display: block;
	}

	.not-show {
		display: none;
	}

	main {
		padding-top: 25px;
		height: 749px
	}

	.main-title,
	.courses-title {
		width: 320px;
		font-size: 34px;
		line-height: 45px;
	}

	.main-title {
		margin-bottom: 20px;
	}

	.benefits-wrapper {
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 12px;
		margin-bottom: 21px;
	}

	.benefit {
		font-size: 14px;
	}

	.main-buttons-wrapper {
		display: flex;
		flex-direction: column;
	}

	.main-buttons-wrapper button {
		width: 320px;
	}

	.all-courses {
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.main-image {
		width: 280px;
		height: 274px;
		left: -300px;
		top: 480px;
	}

	.courses-wrapper {
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.course-item {
		width: 300px;
		height: auto;
		padding: 10px;
	}

	.course-item-title h3 {
		font-size: 20px;
		line-height: 25px;
	}

	.course-item-discount {
		width: 40px;
		height: 40px;
	}

	.course-item-description {
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.course-item-description p {
		padding-top: 0;
		padding-right: 0;
		margin-left: 0;
		margin-top: 20px;
		font-size: 14px;
		line-height: 19px;
	}

	.course-item-prices {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 276px;
		height: 116px;
		margin-top: 18px;
		margin-bottom: 18px;
		padding: 10px 12px;
	}

	.monthly {
		text-align: center;
	}

	.full-pay {
		margin-right: 20px;
	}

	.reduced-pay {
		position: relative;
		top: -6px;
	}

	.reduced-pay .number {
		position: relative;
		top: 1px;
	}

	.course-item-buttons {
		flex-direction: column;
		align-items: center;
	}

	.more-detail {
		margin-bottom: 10px;
	}


	.popup {
		height: 1180px;
		padding: 80px 0;
		left: 0px;
		top: 80px;
	}

	.popup-wrapper {
		width: 360px;
		height: 1178px;
		left: 0px;
		top: 2px;
	}

	.popup-header {
		height: 170px;
		padding: 15px 20px;
		font-weight: 700;
	}

	.popup-header-text {
		width: 360px;
		position: relative;
	}

	.popup-mini {
		position: absolute;
		top: -58px;
		left: 307px;
		width: 35px;
		height: 37px;
		box-shadow: none;
		border: none;
		background-color: #252525;
		background-image: url('./images/icon-cross.png');
		background-repeat: no-repeat;
	}

	.popup-title {
		font-size: 20px;
		margin-bottom: 10px;
	}


	.popup-programm {
		width: 320px;
		height: 226px;
		padding: 10px;
		margin-right: 0;
	}

	.popup-programm-title {
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.short .popup-programm-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0;
	}

	.programm-item {
		font-size: 14px;
		line-height: 19px;
	}

	.short {
		height: 26px;
		padding: 12px 10px;
	}

	.not-required {
		display: none;
	}


}